<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155066866219-mp17p20m79d33orm8utj2rksllfpu0n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155066866219-mp17p20m79d33orm8utj2rksllfpu0n2</string>
	<key>API_KEY</key>
	<string>AIzaSyDDwpSls7S2XX0iWXKFCBTWqL753iBqbxE</string>
	<key>GCM_SENDER_ID</key>
	<string>155066866219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.geminiapp</string>
	<key>PROJECT_ID</key>
	<string>gemini-fb04a</string>
	<key>STORAGE_BUCKET</key>
	<string>gemini-fb04a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155066866219:ios:f935e674f9d73fb935a86e</string>
</dict>
</plist>